.logo{
  width:60px;
  height:40px;
}
.example-spacer {
  flex: 0.98 1 auto;
}
.tool{
background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
  
}
