


<div class="container">
    <div class="details">
      <div class="row p-1">
        <div class="col bold text-center"><h2>Bike Wala</h2> </div>
        
    </div>
        <div class="row p-2">
            <div class="col bold">Name </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.name}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Phone Number </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.phonenumber}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Aadhar Number </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.adharnumber}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Email </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.email}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Bikename </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.bikename}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Pickuptime </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.pickuptime}}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Pickupdate </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.pickupdate }}</div>
        </div>
        <div class="row p-2">
            <div class="col bold">Returntime </div>
            <div class="col">:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{data.returntime}}</div>
        </div>
        <!-- <div class="row p-1">
            <div class="col bold">Pickupdate</div>
            <div class="col">{{data.pickupdate }}</div>
        </div> -->
    </div>
    
</div>