
  <div fxLayout="column wrap" fxLayoutAlign="start stretch">
    <mat-card style="background-image: linear-gradient(to right, #232526 0%, #414345  0%, #232526  100%);text-align:left;">

      <div fxLayout="row" fxLayoutAlign="start stretch" >

        <img class="logo" src="../../../assets/images/bike logo.png">&nbsp;&nbsp;&nbsp;

        <h1 style="color:white; margin-top: 8%;"> Bikes For Rent
        </h1>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <h2 style="margin-left:20%;color:white; margin-top:3%;">
          COMPANY
          <h3>
            FAQ
            </h3>
            <h3>
            Privacy Policy
              </h3>
              <h3>
                Terms & Conditions
                </h3>

        </h2>
        <h2 style="margin-left:15%;color:white; margin-top:3%;">
          FOLLOW US

          <h3>
            <a href="www.facebook.com" class="fa fa-facebook"></a>
            Facebook

            </h3>
            <h3>
              <a href="www.instagram.com" class="fa fa-instagram"></a>
            Instagram


              </h3>
              <h3>
                <a href="www.whatsapp.com" class="fa fa-whatsapp"></a>
                Whatsapp
                </h3>
                </h2>

        </div>
        <hr>
        <h1 style="color:white;">About Us</h1>
        <div fxLayout="row" fxLayoutAlign="start stretch" >

          <p style="color:white;" > Electric bikes for rent in Vizag by bikes for rent team - In recent times we are see the increasing of electric bikes in vizag. we come up with a  idea to provied
              electric bike for rentals it is the first online electric bikes rentals company of vizag .now a electric bike on rent in vizag will not be hard to get.
              with our hassle,free online bike renting solution. electric bikes rentals in vizag can provide commuters,travellers,explorers the easiest and most hassle-free option of travelling.
              It will peoplr an additional option to travel and explore the beautiful places in vizag . if you love to travel we have amazing electric bikes on rent from the stable of
              Vizags most loved electric bike rentals. Offering bikes on rent to customer ho want to rent a electricbike and explore the scenic beauty of the city and surroundings has been the prme focus of our company
            </p>

              </div>
              <hr>
              <h3 style="color:white;text-align: center;">Copyright @ 2022 All rights reserved</h3>

    </mat-card>
  </div>

