table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
  width:70%;
  margin-top:3%;border:2px solid;border-color:#6CB33F;
  margin-left:15%;
  margin-bottom:3%;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.pointer {
  cursor: pointer !important;
}
.info
{
  color:white;
  background-image: linear-gradient(to right, #314755 0%, #26a0da  0%, #314755  100%);
}
.uploadbutton{
  background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
  transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }




